body {
    margin: 0%;
    background-color: rgb(210, 210, 210);
}

.navigator {
    display: flex;
    background-color: rgb(123, 30, 30);
    height: 46.5px;
    color: white;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    margin: 0%;
    top: 0px;
    z-index: 20;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(79, 81, 84);
}

.search:hover {
    background-color: red;
    cursor: pointer;
}

i {
    transition: 0.2s ease-in;
}

.search {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 16px;
}

.search:hover i {
    scale: 1.3;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
}

img {
    height: 300px;
}

#Photo {
    height: 500px;
    width: 1230px;
}

#home h1 {
    margin-left: 45%;
    padding-top: 100px;
    font-size: 50px;
}
#home p {
   font-size: 30px;
}
.sanpham{
    margin-left: 400Px;
}